* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-color: #ccc5b8;
  
}

/* =======================가로 스크롤 ======================*/
.container {
  /*가로로 스크롤 수행시킬 대상 div */
  width: 1250px;
  overflow-x: scroll;
  display: flex;
  height: 100px;

}

.wrapper {
  min-width: 100%;
  /*컨테이너 자체에 가로 스크롤이 생길수 잇도록 내부 요소의 가로 사이즈를 지정 */
}

::-webkit-scrollbar {
  /*스크롤바 숨기기*/
  display: none;
}

/* ========================메뉴 버튼======================*/
.menu ::before {
  font-family: 'Material Icons';
  font-size: 1.2rem;
  float: left;
  clear: left;
}

/* 구글 플랫 아이콘 */
.menu label::before {
  content: '\e5d2';
}

.menu li:nth-child(1) a::before {
  content: '\ea70';
}

.menu li:nth-child(2) a::before {
  content: '\f8d9';
}

.menu li:nth-child(3) a::before {
  content: '\e0cf';
}

.menu li:nth-child(4) a::before {
  content: '\e897';
}

.menu li:nth-child(5) a::before {
  content: '\e87d';
}

#expand-menu {
  /* 체크박스 폼 요소 감추기 */
  display: none;
}

#expand-menu:checked~ul {
  /* 체크박스 체크되었으면 메뉴 목록 표시 - 반응형 표시용 */
  display: block;
  height: auto;
}

.menu {
  display: block;
  width: 250px;
  color: black;
  border-radius: 20px;
  padding: 25px;
  overflow: hidden;
  /* 반응형 애니메이션용 */
  transition: all 0.5s ease;
  /* 반응형 애니메이션 */
  position: absolute;
  top: 10px;
  /* right: 10px; */
}

.menu ul {
  list-style: none;
  /* margin: 0;
padding: 0; */
}

.menu a,
.menu>label {
  display: block;
  height: 30px;
  padding: 5px;
  cursor: pointer;
  color: black;
  text-decoration: none;
  font-size: 1rem;

}

.menu a:hover {
  /*마우스 올리면 색 변하게 만들기*/
  color: red;
}

.menu div {
  line-height: 0;
  font-size: 10rem;
  font-family: 'Noto Sans KR';
  padding: 0 0 0 40px;
  /* 아이콘과 텍스트 사이 여백 */
}

@media screen and (max-width:1023px) {
  .menu {
    width: 60px;
  }
}

@media screen and (max-width:560px) {
  .menu #expand-menu:not(:checked)~ul {
    display: none;
  }
}

.menu div {
  position: absolute;
  /* 절대 위치로 텍스트 고정 */
  left: 50px;
  line-height: 1;
  font-size: 1rem;
  font-family: 'Noto Sans KR';
  padding: 0 0 0 30px;
}

.menu #expand-menu:not(:checked)~ul {
  /* 메뉴 펼치기 & 줄이기 */
  display: none;
}

/* =====================타이핑=================== */
.bookTest {
  font-size: 5rem;
  min-width: 11px;
  white-space: nowrap;
  position: relative;
  color: transparent;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.bookTest::before {
  content: "BOOK YOUR VALUE";
  position: absolute;
  top: 60px;
  left: 70px;
  /* text-align: center; */
  width: 100%;
  height: 100%;
  color: black;
  overflow: hidden;
  border-right: 1px solid black;
  animation: typing 6s steps(13) infinite;
}

@keyframes typing {

  /*타이핑 커서 어디까지*/
  0% {
    width: 0%;
  }

  50% {
    width: 62%;
  }

  100% {
    width: 0%;
  }
}

/* ========================달력======================= */
td {
  width: 50px;
  height: 50px;
  /* margin-top: 100px; */
}

.Calendar {
  text-align: center;
  margin: 0 auto;
  margin-top: 80px;
  position: relative;
  top: 70px;
  margin-left: 80px;
  margin-right: auto;
}

.Calendar>thead>tr:first-child>td {
  font-weight: bold;
}

.Calendar>thead>tr:last-child>td {
  background-color: rgb(255, 255, 255);
  color: black;
  font-weight: bold;
  border-radius:20px;
}

.pastDay {
  background-color: rgb(219, 219, 219);
  border-radius: 10px;
}

.today {
  background-color: #fffdc0;
  border-radius: 50%;
  cursor: pointer;
}

.futureDay {
  cursor: pointer;
}

.futureDay.choiceDay,
.today.choiceDay {
  background-color: #b3d1fe;
  border-radius: 100%;
  color: rgb(31, 31, 31);
  cursor: pointer;
}

/* 폼 요소들 */
select {
  /* display: inline-block; */
  position: relative;
  bottom: 300px;
  left: 760px;
  height: 34px;
  background-color: #192941;
  color: white;
  font-weight: bold;
  width: 195px;
  border-radius: 10px;
  /* border: #b3d1fe; */
  border: beige;
  text-align: center;
  font-size: 14px;
  -webkit-appearance: none; /*화살표 안 뜨게 하기*/
  box-shadow: 2px 2px 1px 1px rgb(97, 123, 153);
}
.inputText {
  position: relative;
  width: 300px;
  margin-left: 120px;
  margin-top: 100px;
  bottom: 820px;
  left: 1200px;

}

.input {
  font-size: 15px;
  color: #222222;
  width: 300px;
  border: none;
  border-bottom: solid #222222 1px;
  padding-bottom: 10px;
  text-align: center;
  position: relative;
  background: none;
  z-index: 5;
}

.input::placeholder { color: #aaaaaa; }
.input:focus { outline: none; }

.label {
position: absolute;
color: #222222;
left: 50%;
transform: translateX(-50%);
font-size: 20px;
bottom: 8px;
transition: all .2s;
}

.input:focus ~ label, .input:valid ~ label {
font-size: 16px;
bottom: 40px;
color: #666;
font-weight: bold;
}

.input:focus ~ span, .input:valid ~ span {
width: 100%;
}


/* ======================이미지==================== */
.deImg {
  text-align: center;
  margin-left: 30px;
  margin-right: auto;
  position: relative;
  bottom: 350px;
  width: 320px;
  left: 300px;
  opacity: 88%;
}
button{
  position: relative;
  bottom: 725px;
  left: 1420px;
  width: 100px;
  height: 30px;
  font-size: 1rem;
  font-weight: bold;
  background-color: #192941;
  color: white;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 1px 1px rgb(97, 123, 153);
  transition-duration: 0.3s;
}
button:active{
  box-shadow: none;
}